html, body {
  background: rgb(52, 58, 64);
  color: rgb(0, 123, 255);
  font-family: 'Open Sans';
  font-style: sans-serif;
}

.dark {
  background: rgb(26, 26, 26);
}

.outputGene {
  color: white;
  background: rgb(52, 58, 64)
}

.white {
  color: white;
}

@media (max-width: 1200px) {
  .responsiveInput {
    padding-left: 5px;
    padding-right: 5px;
  }

  .responsivePerc {
    padding-left: 0px;
    padding-right: 0px;
  }
}


h5 {
  margin-bottom: 0;
}